/* =================== Global reset =================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Unbounded:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

/* =================== DEBUT Header =================== */

header {
    background-color: #22232B;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo a{
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}

.logo div {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
}

.logo img {
    width: 50px;
}

svg {
    width: 40px;
}

/* =================== DEBUT BURGER OPEN =================== */

.logo_burger {
    color: #fff;
    font-size: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo_burger div {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
}

.logo_burger div img {
    width: 50px;
    height: 42px;
}

nav {
    background-color: #171d22;
    position: fixed;
    right: -75%;
    top: 0;
    width: 75%;
    height: 100vh;
    transition: all 0.8s;
    z-index: 2;
    opacity: 0;
}

.active-nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #171d22;
    width: 75%;
    height: 100vh;
    opacity: 1;
    transition: 0.8s;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li {
    border-top: 1px solid #474747a4;
    width: 100%;
    padding-block: 15px;
}

nav ul li a {
    color: #fff;
    padding-inline: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 1; 
    transition: all 700ms ease-in-out;
    visibility: hidden;
}

.active-overlay {
    display: block;
    opacity: 0.80;
    visibility: visible;
  }

/* =================== FIN HEADER & BURGER MENU =================== */

/* =================== début HOMEPAGE.PHP ===================== */

.decouverte {
    background-image: url(../img/fond1.jpg);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.decouverte h3 {
    color: #e4d804;
    margin-top: 3em;
    font-weight: 800;
    font-size: 24px;
}

.decouverte span {
    color: #e4d804;
    font-weight: 800;
}

.decouverte p {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-block: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.decouverte a {
    color: #fff;
    background-color: #12151e;
    padding: 16px 34px;
    border-radius: 50px;
    border: 2px solid #e4d804;
    text-transform: uppercase;
    width: fit-content;
    margin-block: 30px;
}

/* =================== SECTION TOP 4 =================== */

.top4 {
    background: url(../img/fond2.jpg) center/cover no-repeat;
    padding-inline: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.top4 > h2 {
    color: #fff;
    text-align: center;
    padding-block: 20px;
}

.card h2 {
    color: white;
}

.card {
    width: 80%;
    margin-inline: auto;
    background-color: #22232B;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 400px;
}

.card .titre-date p {
    color: #e4d804;
}

.card .titre-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.card .duree_note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.duree_note > p {
    color: #e4d804;
    border: 1px solid rgba(128, 128, 128, 0.503);
}

.card .duree_note div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding-block: 5px;
}

/* =================== fin HOMEPAGE.PHP =================== */

/* =================== début DETAILFILM.PHP =================== */

.detail {
    background: url(../img/fond_formulaire.jpg) center/cover no-repeat;
    padding: 20px;
    color: #fff;
}

.detail img {
    width: 100%;
    height: auto;
}

.yellow-link {
    color: #e4d804;
}

/* =================== fin DETAILFILM.PHP =================== */

/* =================== DEBUT FOOTER =================== */

footer {
    background-image: url(../img/fond_footer.jpg);
    padding: 20px;
}

.contact div, .contact p {
    display: flex;
    font-size: 1em;
    color: #fff;
    padding-block: 5px;
    gap: 5px;
    align-items: center;
}

.logo-footer div {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-footer div img {
    width: 50px;
}

/* =================== FIN FOOTER =================== */