/* =================== Global reset =================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Unbounded:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

a {
    color: #fff;
}

/* =================== DEBUT Header =================== */

header {
    background-color: #171d22;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #e4d804;
}

.logo a{
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}

.logo div {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
}

.logo img {
    width: 50px;
}

svg {
    width: 40px;
}

/* =================== FIN HEADER =================== */

/* =================== DEBUT BURGER OPEN =================== */

.logo_burger {
    color: #fff;
    font-size: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo_burger div {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 700;
}

.logo_burger div img {
    width: 50px;
    height: 42px;
}

nav {
    background-color: #171d22;
    position: fixed;
    right: -75%;
    top: 0;
    width: 75%;
    height: 100vh;
    transition: all 0.8s;
    z-index: 2;
    opacity: 0;
}

.active-nav {
    right: 0;
    opacity: 1;
}

nav ul li {
    border-top: 1px solid #474747a4;
    width: 100%;
    padding-block: 15px;
}

nav ul li a {
    color: #fff;
    padding-inline: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #171d22;
    z-index: 1; 
    transition: all 700ms ease-in-out;
    visibility: hidden;
}

.active-overlay {
    opacity: 0.80;
    visibility: visible;
  }

/* =================== FIN BURGER MENU =================== */

/* =================== Début SOUS MENU AJOUTER =================== */

#angle-down {
    background-color: #2f373e;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.menu-item {
    position: relative;
}

.menu-item .sub-menu {
    opacity: 1;
    position: relative;
    top: 0;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
}

.menu i{
    color: yellow;
}

.sub-button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.sub-button svg {
    margin-left: auto;
}

.sub-button i {
    margin-right: 4px;
}

#sub-li {
    padding: 0;
}

.sub-menu a{
    margin-left: 20px;
    border-left: 3px solid #e4d804;
}

.social-network {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    color: white;
    margin-top: 20px;
    margin-inline: auto;
    padding: 10px;
}


/* =================== FIN SOUS MENU AJOUTER =================== */

/* =================== début HOMEPAGE.PHP ===================== */

.decouverte {
    background-image: url(../img/fond1.jpg);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.decouverte h3 {
    color: #e4d804;
    margin-top: 3em;
    font-weight: 800;
    font-size: 24px;
}

.decouverte span {
    color: #e4d804;
    font-weight: 800;
}

.decouverte p {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-block: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

.decouverte a {
    color: #fff;
    background-color: #12151e;
    padding: 16px 34px;
    border-radius: 50px;
    border: 2px solid #e4d804;
    text-transform: uppercase;
    width: fit-content;
    margin-block: 30px;
}

/* =================== SECTION TOP 4 =================== */

.top4 {
    background: url(../img/fond2.jpg) center/cover no-repeat;
    padding-inline: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.top4 > h2 {
    text-align: center;
    color: white;
    margin-block: 20px;
    font-size: 1.70rem;
    font-weight: 700;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-top4 a img {
    width: 100%;
    max-height: 450px;
}

.card-top4 {
    width: 90%;
    margin: auto;
    background-color: #1d202596;
    color: #fff;
    border-bottom: 5px solid #e4d804;
}

.top4-titre-date , .top4-duree_note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.top4-duree_note div {
    display: flex;
    gap: 10px;
}


.top4-duree_note div i , .top4-titre-date p{
    color: #e4d804;
}

.top4-duree_note > p {
    border: 1px solid #585858;
    padding: 3px;
    color: #e4d804;
}

/* =================== fin HOMEPAGE.PHP =================== */

/* =================== début DETAILFILM.PHP =================== */

.detail {
    background: url(../img/fond_formulaire.jpg) center/cover no-repeat;
    padding: 15px 5px;
    color: #fff;
}

.detail .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    background-color: #171d2270;
}

.detail .info p:last-child {
    background-color: #242c38;
    text-align: justify;
    padding: 25px;
    border-radius: 10px;
    margin-top: 0;
}

.yellow-link {
    color: #e4d804;
}

.info i {
    color: #e4d804;
}

/* =================== fin DETAILFILM.PHP =================== */

/* =================== début FILMS.PHP =================== */

.banniere {
    height: 300px;
    background-image: linear-gradient(to right, rgba(4, 4, 16, 0.601), rgba(37, 36, 36, 0.266)), url(../img/banniere_films.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banniere > h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.85rem;
}

.banniere {
    display: flex;
    justify-content: center;
    align-items: center;
}

.duree_note div p {
    font-size: 0.80rem;
}

.duree_note {
    display: flex;
    flex-direction: column;
}

.film-info {
    width: 100%;
}


.plus {
    background-color:#e4d804;
    color: black;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9rem;
    width: fit-content;
    height: fit-content;
}

.card h2 {
    color: white;
    font-size: 1.25rem;
}

.card {
    display: flex;
    width: 95%;
    margin-inline: auto;
    background-color: #22232b89;
    margin-bottom: 20px;
    border: 1px solid #e4d90457;
    border-radius: 10px;
    padding: 10px;
}

.card i {
    color: #e4d804;
}

.card > a {
    height: 180px;
}

.card img {
    width: 130px; /* Assurer que l'image ne dépasse pas la largeur de la balise <a> */
    height: 100%; /* La hauteur s'ajustera automatiquement pour maintenir les proportions */
}

.card .titre-date p {
    color: #e4d804;
}

.card .titre-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.card .film-info .duree_note {
    padding-inline: 10px;
}

.custom-class {
    border: 1px solid rgba(128, 128, 128, 0.503);
    margin: 2px;
    padding-inline: 4px;
}

.duree_note > p {
    color: #e4d804;
    border: 1px solid rgba(128, 128, 128, 0.503);
}

.card .duree_note div {
    color: white;
    padding-block: 5px;
}

/* =================== fin FILMS.PHP =================== */

/* =================== début ACTEURS.PHP =================== */

.banniere-acteurs {
    height: 300px;
    background-image: linear-gradient(to right, rgba(4, 4, 16, 0.601), rgba(37, 36, 36, 0.266)), url(../img/film_production.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banniere-acteurs > h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.85rem;
}

.banniere-acteurs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.personne-container {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 card par ligne */
    gap: 20px;
    padding-top: 30px;
}

.personne-card {
    color: white;
    background-color: #12151e;
    border-bottom: 5px solid #9f9503;
    height: 100%;
}

.personne-card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ajuste l'image sans déformation */
}

.nom-personne {
    padding-block: 10px;
}

.nom-personne h2 {
    text-align: center;
    font-size: 1.20rem;
}
/* =================== fin ACTEURS.PHP =================== */


/* =================== Début REALISATEURS.PHP =================== */

.banniere-realisateur {
    height: 300px;
    background-image: linear-gradient(to right, rgba(4, 4, 16, 0.601), rgba(37, 36, 36, 0.266)), url(../img/film_production.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banniere-realisateur > h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.85rem;
}

.banniere-realisateur {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =================== fin REALISATEURS.PHP =================== */

/* =================== Début ROLES.PHP =================== */

.banniere-casting {
    height: 300px;
    background-image:url(../img/casting_banniere.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banniere-casting > h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.85rem;
}

.banniere-casting {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =================== Fin ROLES.PHP =================== */

/* =================== Début GENRES.PHP =================== */

.banniere-genres {
    height: 300px;
    background-image: linear-gradient(to right, rgba(4, 4, 16, 0.601), rgba(37, 36, 36, 0.266)), url(../img/banner_genres.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banniere-genres > h2 {
    color: #fff;
    font-weight: 800;
    font-size: 1.85rem;
}

.banniere-genres {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 card par ligne */
    gap: 10px;
}

.genre-card {
    background-color: #12151e;
    border: 1px solid #e4d804;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    font-size: 0.75rem;
    padding-block: 5px;
    margin: auto;
}

/* =================== Fin GENRES.PHP =================== */

/* =================== début DETAILROLE.PHP =================== */

.casting-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #343434;
    padding: 10px;
    border-radius: 10px;
    background-color: #171d2270;
    margin-top: 20px;
}

.titre-casting {
    text-align: center;
}

.casts {
    border: 1px solid #34343462;
    padding: 5px;
    border-radius: 5px;
}

/* =================== fin DETADETAILROLE.PHP =================== */


/* =================== DEBUT FOOTER =================== */

footer {
    background-image: url(../img/fond_footer.jpg);
    padding: 20px;
    border-top: 3px solid #e4d804;
}

.contact div, .contact p {
    display: flex;
    font-size: 1em;
    color: #fff;
    padding-block: 5px;
    gap: 5px;
    align-items: center;
}

.logo-footer div {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.logo-footer div img {
    width: 50px;
}

/* =================== FIN FOOTER =================== */